/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    max-height: 90vh;
    overflow: auto;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    color: white;
}


.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    color: white;
}

.ingresso {
    background-color: #f96e11;
}

.mkt {
    background-color: #8e8c00;
}

.stanza {
  background-color: #4ea316;
}

body{
  background-color: #f7f7f7;
  color: #333333;
  font-family: "Roboto";
}

header{
  text-align: center;
  align-items: center;
}

#hr{
  padding-left: 150px;
  padding-right: 150px;
}

hr{
  border-color: #333333;
  display: block;
}

footer{
  text-align: center;
  background-color: #e8e8e8;
  height: 100px;
}

a{
  text-decoration: none;
  color: #30abd1;
  font-weight: bold;
}

nav{
  padding-left: 200px;
  padding-right: 200px;
  text-align: center;
}

nav > ul{
  list-style-type: none;
}

nav > ul > li {
  display: inline;
  padding: 25px;
  background-color: #edeaea;
}

nav > ul > li > a{
  color: #333333;
  font-size: 25px;
}

.opera{
  text-align: center;
  background-color: #e8e8e8;
}

.tabopera{
  width: 100%;
  padding: 30px;
}

.imgop {
  width: 30%;
}

.textop {
  padding: 30px;
  text-align: left;
}

.dipiu {
  padding: 30px;
  background-color: #ffffff;
  overflow: hidden;
  height: 100%;

  -webkit-animation-name: slideInDP;
  -webkit-animation-duration: 0.4s;
  animation-name: slideInDP;
  animation-duration: 0.4s
}

.cliccadipiu {
  cursor: pointer;
  color: #4ea316;
  font-weight: bold;
}


/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}

@-webkit-keyframes slideInDP {
    from {padding: 0px; height:0%}
    to {padding: 30px; height:100%}
}

@keyframes slideInDP {
  from {padding: 0px; height:0%}
  to {padding: 30px; height:100%}
}
